@font-face {
  font-family: Pragmatica;
  src: url('fonts/PragmaticaBook-Reg.eot?') format('eot'), url('fonts/PragmaticaBook-Reg.woff') format('woff'), url('fonts/PragmaticaBook-Reg.ttf') format('truetype');
}

body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Pragmatica;
    color: #ffffff;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #ccc;
    text-decoration: none;
}

a:hover {
    color: #ccc;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    border: none;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.aligncenter {
    display: block;
    margin: auto;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.btn {
    background: #6eae2a;
    border: 0;
    color: #FFF;
    padding: 5px 15px;
}

.btn:hover {
    background: #6eae2a;
}

.inner {
    width: 1180px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.htop {
    background: #0a203b;
}

.logo {
    float: left;
}

#main-menu {
    float: right;
}

#main-menu ul li a {
    padding: 24px 20px;
}

.menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.menu ul li {
    display: block;
    float: left;
}

.menu ul li a {
    color: #ececec;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
}

#main-menu ul li a:hover,
#main-menu ul li a.active {
    background-color: #21384f;
}

.hbttm {
    background: #f26522;
}

#secondary-menu ul li a {
    padding: 17px 20px;
}

#secondary-menu ul li a:hover,
#secondary-menu ul li a.active {
    background-color: #f5834e;
}

#search-form {
    float: right;
}

#search-form input {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: 0;
    padding: 10px 10px;
    margin-top: 9px;
    width: 250px;
}

#search-form label {
    position: relative;
}

#search-form label .fa-search {
    background: #0a203b;
    padding: 12px;
    position: absolute;
    right: 0;
    top: -10px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#slideshow {
    height: 690px;
    background-image: url('images/slide-one.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#main-content {
    background: #0a203b;
}

#latest-games {
    background-image: url('images/carousel-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0;
}

#latest-games h1 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.carousel h1 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.carousel {
    overflow: hidden;
    padding: 0;
    position: relative;
}

.carousel .buttons {
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 18px;
    height: 37px;
    position: absolute;
    left: 0px;
    top: 66px;
    color: transparent;
}

.carousel .viewport {
    float: left;
    width: 100%;
    height: 178px;
    overflow: hidden;
    position: relative;
}

.carousel .next {
    left: auto;
    right: 10px;
    background-image: url('images/arrow-right.png');
}

.carousel .previous {
    right: auto;
    left: 10px;
    background-image: url('images/arrow-left.png');
}

.carousel .overview {
    list-style: outside none none;
    position: absolute;
    padding: 0px;
    margin: 0px;
}

.carousel .overview li {
    float: left;
    margin: 0;
    overflow: hidden;
    height: 178px;
    width: 285px;
    position: relative;
}

.carousel .overview li img {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
}

.carousel .overview li:hover img {
    opacity: 0.8;
}

#more-games {
    background-color: #0a203b;
    padding: 20px 0;
}

.col-left {
    float: left;
    width: 580px;
    padding: 15px;
}

body.games .col-left {
    padding: 0;
    width: 570px;
}

#tabs ul {
    padding: 0;
    margin: 0 0 10px 0;
    list-style-type: none;
    overflow: hidden;
}

#tabs ul li {
    display: block;
    float: left;
    margin-right: 20px;
}

#tabs ul li a {
    color: #989797;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.game-block {
    width: 238px;
    text-align: center;
    float: left;
    margin-right: 74px;
    margin-top: 20px;
}

.game-block:nth-child(2n+2) {
    margin-right: 0;
}

.game-block figure {
    padding: 0;
    margin: 0;
}

.game-block h1 {
    color: #ffffff;
    font-size: 14.97px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 5px 0;
}

.game-block h2 {
    font-size: 12px;
    font-weight: 400;
    margin: 5px 0;
}

.game-block footer {
    margin-top: 20px;
}

.platforms {
    float: left;
}

.buy-now {
    float: right;
}

.col-right {
    float: right;
    width: 580px;
    padding: 15px;
}

body.games .col-right {
    padding: 0;
    width: 570px;
}

.submit-block {
    margin: 35px 0;
}

.submit-header {
    background: #f26522;
    padding: 13px;
    text-transform: uppercase;
    font-size: 9px;
}

.submit-content {
    padding: 15px;
    background-color: #031120;
}

.submit-content img {
    display: block;
    margin: auto;
    width: 70%;
}

#main-footer {
    background-color: #f26522;
    text-align: center;
    padding: 20px 0;
}

#footer-menu {
    margin-bottom: 20px;
}

#footer-menu ul li {
    display: inline-block;
    float: none;
    border-right: 1px solid #FFF;
}

#footer-menu ul li:last-child {
    border-right: 0;
}

#footer-menu ul li a {
    text-transform: capitalize;
    padding: 0 10px;
}

#social-media {
    margin-bottom: 20px;
}

#social-media a {
    margin: 0 5px;
}

#copyright p {
    margin-bottom: 0;
}
